<main class="h-screen w-screen bg-slate-900">
  <div class="flex justify-center p-4">
    <h1 class="text-white font-semibold">
      Bienvenue sur le site de {{ title | uppercase }}
    </h1>
  </div>

  <div class="flex justify-between flex-col gap-8 h-[400px] p-3">
    <div class="flex justify-between">
      <app-block></app-block>
      <app-block></app-block>
    </div>
    <div class="flex justify-between">
      <app-block></app-block>
      <app-block></app-block>
    </div>
  </div>
</main>
