<div class="h-[500px] w-full mt-20 flex justify-center">
  <form class="h-full w-[350px] bg-white rounded" action="">
    <div class="flex flex-col p-3 h-full w-full items-center gap-3">
      <img
        class="h-24 rounded-full shadow-lg"
        [src]="user.photo"
        [alt]="user.name"
      />
      <div class="h-80 w-full rounded shadow-md p-3 gap-2 flex flex-col">
        <div class="font-semibold">
          <h2>Nom : {{ user.name }}</h2>
          <h2>Prénoms : {{ user.firstName }}</h2>
          <h2 [hidden]="visible">Age : {{ user.age }}</h2>
        </div>
        <div class="flex flex-col items-center h-full justify-center gap-3">
          <input
            class="border-2 rounded"
            type="text"
            [(ngModel)]="user.quote"
            name="quote"
          />
          <span>{{ user.quote }}</span>
        </div>
        <button
          (click)="isVisible()"
          class="bg-red-500 rounded-md py-2 mb-4 w-36 m-auto text-white"
        >
          Afficher/Masquer
        </button>
      </div>
    </div>
  </form>
</div>
